<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="LauncherPath" value=""/>
    <add key="CurrentGmColor" value="FF6CBFFF"/> <!-- FF6CBFFF is the base color -->
    <add key="CurrentRightClickColor" value="78C4F5FF"/> <!-- 78C4F5FF is the base color -->
  </appSettings>
</configuration>