<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="NostaleClientXPath" value=""/>
    <add key="CurrentColor" value="FF6CBFFF"/> <!-- FF6CBFFF is the base color -->
  </appSettings>
</configuration>